<html>
    <body>
        <h1> ************ BATTLESTAR GALACTICA SERVER ***************</h1> 
        <p> PORT : <span id="port"></span></p>

        <script>
            document.getElementById('port').innerText = '<%= PORT %>';
        </script>
    </body>
</html>